.footer{
	padding-bottom: 100px;
	@include rmax(576){
		padding-bottom: 0px;
	}
	.container{
		@include rmax(576){
			padding: 0;
		}
	}
	@include rmax(1200){
		padding-bottom: 50px;
	}
	&__inner{
		padding: 260px 15px 30px;
		border-radius: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		@include rmax(1200){
			padding: 160px 15px 25px;
		}
		@include rmax(992){
			padding: 100px 15px 25px;
		}
		@include rmax(576){
			border-radius: 0px;
		}

	}
	&__logo{
		display: inline-block;
		max-width: 95px;
		margin-bottom: 20px;
		@include rmax(1200){
			margin-bottom: 10px;
		}
	}
	&__info{
		color: $colorWhite;
		padding-bottom: 40px;
		border-bottom: 1px solid #4A446E;
		@include rmax(1200){
			padding-bottom: 20px;
		}
		&_text{
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0em;
			text-align: left;
			max-width: 423px;
			@include rmax(768){
				padding-bottom: 15px;
			}
		}
	}
	&__copyright{
		padding-top: 30px;
		padding-right: 30px;
		display: flex;
		justify-content: space-between;
		color: #B9B1CB;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 20px;
		letter-spacing: 0em;
		@include rmax(992){
			padding-top: 15px;
			padding-right: 0px;
		}
		@include rmax(768){
			text-align: center;
		}
		&_long{
			@include rmin(769){
				text-align: right;
			}
		}
	}

	&__form{
		position: relative;
		margin-bottom: 101px;
		@include rmax(992){
			margin-bottom: 50px;
		}
		@include rmax(576){
			margin-bottom: 30px;
		}
		.form-button{
			@include rmax(576){
				text-align: center;
			}
		}
		&_inner{
			position: relative;
			overflow: hidden;
			border-radius: 20px;
			padding: 101px 101px 99px 99px;
			background: linear-gradient(145.45deg, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.2) 100%);
			border: 2px solid #342A58;
			backdrop-filter: blur(10px);
			@include rmax(1200){
				padding: 70px 45px;
			}
			@include rmax(992){
				padding: 40px 15px;
			}
			@include rmax(576){
				padding: 25px 10px;
			}
		}
		&_title{
			width: 100%;
			left: 0;
			right: 0;
			top: -120px;
			position: absolute;
			font-size: 190px;
			line-height: 100%;
			font-style: normal;
			font-weight: 900;
			letter-spacing: 0em;
			text-align: center;
			color: #301F4F;
			color: rgba(48, 31, 79, 0.5);
			@include rmax(1200){
				font-size: 90px;
				top: -60px;
			}
			@include rmax(1200){
				font-size: 48px;
				top: -35px;
			}

		}
	}
}
.nav-footer{
	color: $colorWhite;
	&__title{
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 20px;
		@include rmax(1200){
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
	&__menu{
		li{
			&:not(:last-child){
				margin-bottom: 10px;
				@include rmax(1200){
					margin-bottom: 8px;
				}
			}

			a{
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 0em;
				text-align: left;
				color: $colorWhite;
				@include rmax(1200){
					font-size: 14px;
				}
			}
		}
	}
}

.circles{
	position: absolute;
	z-index: 1;
	@include rmax(992){
		display: none;
	}
	&:before{
		display: block;
		content: '';
		width: 122px;
		height: 122px;
		border-radius: 100%;
	}
	&:after{
		display: block;
		content: '';
		width: 122px;
		height: 122px;
		border-radius: 100%;
		@include rmax(1200){
			width: 122px;
			height: 122px;
		}
	}
	&_color{
		&_grey-red{
			top: -25px;
			left: -25px;
			&:after{
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(211, 25, 147, 0.4);
			}
			&:before{
				position: absolute;
				transform: translate(40%, 40%);
				background: #CEBAF9;
			}
		}
		&_pink-fiolet{
			top: 76%;
			left: 85%;
			&:after{
				position: absolute;
				transform: translate(40%, 40%);
				background: rgba(116, 67, 216, 0.6);
			}
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				background: #D31993;
			}
		}
	}

}
