<footer class="footer">
	<div class="container">
		<div class="footer__inner" style="background-image: url('../img/footer_bg.png');">
			<div class="footer__content container-1100">

				<div class="footer__form">
					<div class="footer__form_title">
						Contact Us
					</div>
					<div class="footer__form_inner">
						<span class="circles circles_color_grey-red"></span>
						<form action="#" class="contacts-form">
							<div class="form-title">Get In Touch</div>
							<div class="form-flex">
								<div class="form-group">
									<select class="js-select" data-placeholder="Message subject">
										<option value="">Message subject</option>
										<option value="1">subject 1</option>
										<option value="2">subject 2</option>
										<option value="3">subject 3</option>
										<option value="4">subject 4</option>
										<option value="5">subject 5</option>
									</select>
								</div>
								<div class="form-group">
									<input type="text" name="name" placeholder="Enter your Name*">
									<div class="help-block">Invalid characters</div>
								</div>
							</div>
							<div class="form-flex">
								<div class="form-group">
									<input type="text" name="email" placeholder="Enter your Email*">
									<div class="help-block">Invalid characters</div>
								</div>
								<div class="form-group">
									<input type="tel" name="phone" placeholder="Enter your Phone">
									<div class="help-block">Invalid characters</div>
								</div>
							</div>
							<div class="form-group">
								<textarea name="mes" placeholder="Enter your Message"></textarea>
							</div>
							<div class="form-button">
								<button type="submit" class="btn btn_color_pink">Send a Message</button>
							</div>
						</form>
						<span class="circles circles_color_pink-fiolet"></span>

					</div>


				</div>
				<div class="footer__info">
					<div class="row">
						<div class="col-md-7">
							<a href="javascript:void(0);" title="Site-Name" class="footer__logo">
								<img src="img/logo_footer.svg" alt="Site-Name:logo">
							</a>
							<div class="footer__info_text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius blandit nullam. Lorem
								ipsum dolor sit ame. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius
								blandit nullam.
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<nav class="nav nav-footer">
								<div class="nav-footer__title">
									About us
								</div>
								<ul class="nav-footer__menu">
									<li>
										<a href="javascript:void(0);">About Hour Pi</a>
									</li>
									<li>
										<a href="javascript:void(0);">Terms of Service</a>
									</li>
									<li>
										<a href="javascript:void(0);">Privacy Policy</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="col-md-2 col-sm-6">
							<nav class="nav nav-footer">
								<div class="nav-footer__title">
									Support
								</div>
								<ul class="nav-footer__menu">
									<li>
										<a href="javascript:void(0);">FAQ</a>
									</li>
									<li>
										<a href="javascript:void(0);">Contact Us</a>
									</li>
								</ul>
								<div class="language">
									<button class="language__current">
										<span class="language__icon"><img src="img/usa.svg" alt="usa"></span>
										<span class="language__text">En</span>
										<i class="icon icon-i-arr language__arrow"></i>
									</button>
									<ul class="language__list">
										<li>
											<a href="javascript:void(0);">
												<span class="language__icon"><img src="img/usa.svg" alt="usa"></span>
												<span class="language__text">En</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);">
												<span class="language__icon"><img src="img/usa.svg" alt="usa"></span>
												<span class="language__text">En</span>
											</a>
										</li>
										<li>
											<a href="javascript:void(0);">
												<span class="language__icon"><img src="img/usa.svg" alt="usa"></span>
												<span class="language__text">En</span>
											</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div class="footer__copyright row">
					<div class="footer__copyright_short col-md-6">
						© 2021 Lorem ipsum dolor sit amet
					</div>
					<div class="footer__copyright_long col-md-6">
						Copyright © 2021 Lorem ipsum - All Rights Reserved
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
