<title>Test Task</title>
<meta name="description" content="Test Task | description">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">

<meta property="og:type" content="website">
<meta property="og:title" content="Test Task">
<meta property="og:description" content="Test Task | description">
<meta property="og:site_name" content="Test-Task">
<meta property="og:image" content="img/og_image.png">
<meta property="og:image:secure_url" content="img/og_image.png">
<meta property="og:image:type" content="image/png">
<meta property="twitter:title" content="Test Task">
<meta property="twitter:description" content="Test Task | description">
<meta name="twitter:image" content="img/og_image.png">

<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="preconnect" href="css/fonts/Roboto.css" crossorigin />
<!--<link rel="stylesheet" as="style" href="css/fonts/Roboto.css" />-->
<link rel="preload" as="style" href="css/fonts/Roboto.css" />
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="css/fonts/Roboto.css" />
<link rel="stylesheet" media="all" href="css/libs.css" />
<link rel="stylesheet" media="all" href="css/style.css" />
