<header class="header header-site header--transparent">
	<div class="container">
		<div class="header__inner">
			<div class="row justify-content-between">
				<div class="col-md-2 col-6 ">
					<a href="javascript:void(0);" class="header__logo">
						<img src="img/header_logo.svg" alt="header_logo">
					</a>
				</div>
				<div class="col-6 tablet-hide">
					<div class="header__nav ">
						<ul>
							<li>
								<a class="current" href="javascript:void(0);">
									Home
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									Lorem ipsum
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									Lorem ipsum
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									Lorem ipsum
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-6 ">
					<div class="header__buttons tablet-hide">
						<a href="javascript:void(0);" class="btn btn_color_orange"><i class="icon icon-i-apple"></i><span class="btn_text">AppStore</span></a>
						<a href="javascript:void(0);" class="btn btn_color_orange"><i class="icon icon-i-g"></i>Google Play</a>
					</div>
					<div class="header__drop-down__wrap">
						<div class="header__drop-down js-toggle-nav desktop-hide">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</header>
<div class="mobile-menu">
	<div class="mobile-menu__inner">
		<div class="mobile-menu__content">
			<ul>
				<li>
					<a class="current" href="javascript:void(0);">
						Home
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a class="current" href="javascript:void(0);">
						Home
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a class="current" href="javascript:void(0);">
						Home
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						Lorem ipsum
					</a>
				</li>
			</ul>
			<div class="header__buttons tablet-hide">
				<a href="javascript:void(0);" class="btn btn_color_orange"><i class="icon icon-i-apple"></i><span class="btn_text">AppStore</span></a>
				<a href="javascript:void(0);" class="btn btn_color_orange"><i class="icon icon-i-g"></i>Google Play</a>
			</div>
		</div>
		<div class="mobile-menu__info">
			<div class="mobile-menu__info--btn-wrap">
					<a href="javascript:void(0);" class="btn btn_color_orange"><i class="icon icon-i-apple"></i><span class="btn_text">AppStore</span></a>
					<a href="javascript:void(0);" class="btn btn_color_orange"><i class="icon icon-i-g"></i>Google Play</a>
			</div>
		</div>
		<div class="mobile-menu__close js-mobile-menu-close">
			<i class="icon icon-i-close"></i>
		</div>
	</div>
</div>
