::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
	color: transparent;
	opacity: 0;
}
input,
textarea {
	position: relative;
	background: $input_bg;
	color: $input_text;
	width: 100%;
	font-size: 14px;
	border: 1px solid $colorBorder;
	border-radius: 100px;
	padding: 0 30px;
	transition: all 0.3s ease;
	appearance: none;
	&:-webkit-autofill {
		-webkit-text-fill-color: inherit;
		transition: background-color 5000s;
	}
	&:hover {
		//border-color: $colorDarkGrey;
	}
	&:active,
	&:focus {
		&:not(.btn) {
			&:not([disabled]) {
				background: $input_bg;
				&::-webkit-input-placeholder,
				&::-moz-placeholder,
				&:-ms-input-placeholder,
				&:-moz-placeholder {
					color: transparent;
				}
			}
		}
		&:not(:empty) {
			& ~ label {
				top: 0;
			}
		}
		& ~ label {
			top: -8px;
			left: 7px;
			font-size: 11px;
			line-height: 1.636;
			padding: 0 5px;
			&:before {
				top: 1px;
				opacity: 1;
				transition: opacity 0.1s ease 0.28s;
			}
			sup {
				font-size: 14px;
			}
		}
	}
	&[disabled],
	&.disabled{
		opacity: 0.3;
	}
	&.filled {
		padding: 0 30px;
		& ~ label {
			top: -8px;
			left: 7px;
			font-size: 11px;
			line-height: 1.636;
			padding: 0 5px;
			&:before {
				top: 1px;
				opacity: 1;
				transition: opacity 0.1s ease 0.28s;
			}
			sup {
				font-size: 14px;
			}
		}
		& ~ .form {
			&-error {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
input {
	height: 60px;
	//text-overflow: ellipsis;
	overflow: hidden;
}
[type="tel"] {
	&:hover {
		& ~ label {
			top: -8px;
			left: 7px;
			font-size: 11px;
			line-height: 1.636;
			padding: 0 5px;
			&:before {
				top: 1px;
				opacity: 1;
				transition: opacity 0.1s ease 0.28s;
			}
			sup {
				font-size: 14px;
			}
		}
	}
}
textarea {
	background-color: $input_bg;
	color: $input_text;
	border-radius: 20px;
	height: 150px;
	padding: 20px 30px;
	resize: none;
	.filled {
		padding: 20px 30px;
	}
}
select {
	background-color: $input_bg;
	position: relative;
	color: $input_text;
	width: 100%;
	height: 60px;
	font-size: 14px;
	border: 1px solid $colorBorder;
	border-radius: 100px;
	padding: 0 30px;
	transition: all 0.3s ease;
	appearance: none;
	&.filled {
		& ~ .select2-container {
			&--default {
				.select2-selection {
					&--single {
						.select2-selection {
							&__rendered {
								padding-left: 30px;
							}
						}
					}
				}
			}
		}
		& ~ label {
			top: -8px;
			left: 7px;
			font-size: 11px;
			line-height: 1.636;
			padding: 0 5px;
			&:before {
				top: 1px;
				opacity: 1;
				transition: opacity 0.1s ease 0.28s;
			}
			sup {
				font-size: 14px;
			}
		}
	}
}
.has {
	&-error {
		input,
		textarea {
			background: $colorBgRed !important;
			//border-color: $colorRed !important;
		}
		.form {
			&-error {
				color: $colorRed;
				border-color: $colorRed;
				visibility: visible;
				opacity: 1;
			}
		}
		.help-block {
			display: block;
		}
	}
	&-success {
		input,
		textarea {
			//border-color: $colorGreen !important;
		}
		.form {
			&-error {
				visibility: hidden !important;
				opacity: 0 !important;
			}
			&-success {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
label {
	display: block;
	margin-bottom: 0;
}
.form{
	&-title {
		position: relative;
		font-size: 46px;
		font-style: normal;
		font-weight: 400;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: center;
		color: #fff;
		margin-bottom: 60px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@include rmax(992){
			font-size: 36px;
		}
		@include rmax(576){
			font-size: 26px;
		}
	}
	&-body {
		position: relative;
	}
	&-text {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&-group {
		position: relative;
		margin: 0;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		label {
			position: absolute;
			top: 14px;
			left: 20px;
			color: $colorText;
			font-size: 16px;
			line-height: 2;
			pointer-events: none;
			transition: all 0.3s ease;
			&:before {
				content: '';
				position: absolute;
				background: $colorWhite;
				top: 0;
				left: 0;
				right: 0;
				height: 50%;
				opacity: 0;
				transition: opacity 0.1s ease 0s;
			}
			span {
				position: relative;
			}
			sup {
				top: 0;
				color: $colorDarkBlue;
				font-size: 20px;
				transition: font-size 0.3s ease;
			}
		}
	}
	&-flex {
		display: flex;
		@include rmax(576){
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
		.form {
			&-group {
				flex: 1 0 0;
				&:not(:last-child) {
					margin-right: 20px;
					margin-bottom: 0;
					@include rmax(576){
						margin-right: 0px;
					}
				}
			}
		}
	}
	&-file {
		position: relative;
		margin-top: -15px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&-button {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&-success,
	&-error {
		position: absolute;
		top: 20px;
		right: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: $colorDarkBlue;
		font-size: 10px;
		border: 1px solid $colorBorder;
		border-radius: 50%;
		transition: opacity 0.3s ease;
		cursor: pointer;
		visibility: hidden;
		opacity: 0;
		z-index: 1;
	}
}
.file {
	&-box {
		position: relative;
		&__list {
			position: relative;
			&-box {
				position: relative;
				display: flex;
				align-items: center;
				font-size: 16px;
				line-height: 2;
				&-name {
					position: relative;
					max-width: calc(100% - 30px);
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-delete {
					position: relative;
					transition: color 0.3s ease;
					cursor: pointer;
					&:last-child{
						margin-left: 15px;
					}
					&:hover{
						//color: $colorDarkGrey;
					}
				}
				.icon {
					top: -2px;
				}
			}
		}
		&__field {
			position: relative;
			&.hidden{
				display: none;
			}
			&-title {
				position: relative;
				font-size: 16px;
				line-height: 2;
				cursor: pointer;
				&:hover {
					.link {
						border-color: transparent;
					}
				}
				[type='file'] {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					cursor: pointer;
				}
			}
		}
	}
}
.checkbox{
	position: relative;
	display: inline-block;
	[type="checkbox"],
	[type="radio"] {
		position: absolute;
		left: -9999px;
		width: inherit;
		height: inherit;
		& ~ label {
			position: relative;
			display: inline-block;
			min-height: 20px;
			color: $colorBlack;
			line-height: 20px;
			padding-left: 20px;
			cursor: pointer;
			&:before {
				content: '';
				position: absolute;
				background: $colorWhite;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid $colorGrey;
				transition: all 0.3s ease;
			}
			&:after {
				content: '';
				position: absolute;
				transition: all 0.3s ease;
				opacity: 0;
			}
			&:hover {
				&:before {
					border-color: $colorDarkGrey;
				}
			}
			&:not(:empty) {
				padding-left: 35px;
			}
		}
		&:disabled {
			& ~ label {
				&:before {
					opacity: 0.5;
				}
			}
		}
		&:checked {
			& ~ label {
				&:before {

				}
				&:after {
					opacity: 1;
				}
			}
			&:disabled {
				& ~ label {
					&:before {
						opacity: 0.5;

					}
					&:after {
						opacity: 0.5;
					}
				}
			}
		}
	}
	[type="checkbox"] {
		& ~ label {
			&:before{
				background: $colorGrey;
				top: 4px;
				left: 4px;
				width: 12px;
				height: 12px;
				border-radius: 0;
			}
			&:after {
				background: $colorGrey;
				top: 4px;
				left: 4px;
				width: 12px;
				height: 12px;
			}
		}
	}
	[type="radio"] {
		& ~ label {
			&:before {
				background: $colorGrey;
				top: 4px;
				left: 4px;
				width: 12px;
				height: 12px;
				border-radius: 50%;
			}
			&:after {
				border-radius: 50%;
			}
		}
	}
	&.has {
		&-error {
			[type="checkbox"],
			[type="radio"] {
				& ~ label {
					&:before {
						border-color: $colorRed !important;
					}
				}
			}
		}
	}
}
.select2 {
	&-container {
		&--default {
			.select2-selection {
				&--single {
					background: $input_bg;
					color: $input_text;
					height: 60px;
					border-color: $colorBorder;
					border-radius: 100px;
					-webkit-border-bottom-left-radius: 100px !important;
					border-bottom-left-radius: 100px !important;
					-webkit-border-bottom-right-radius: 100px !important;
					border-bottom-right-radius: 100px !important;
				.select2-selection {
					&__rendered {
						color: $input_text;
						font-size: 14px;
						line-height: 58px;
						padding-left: 30px;
					}
					&__arrow {
						right: 10px;
						height: 58px;
						width: 30px;
						&:before {
							content: '\EA04';
							position: absolute;
							top: 50%;
							left: 50%;
							color: #B9B1CB;
							font-size: 12px;
							font-family: 'svgfont', sans-serif;
							transform: translate(-50%, -50%);
							transition: all 0.3s ease-in-out;
						}
						b {
							display: none;
						}
					}
				}
			}
		}
		.select2 {
			&-dropdown {
				background: $colorWhite;
				border-color: $colorBorder;
				padding: 6px 0;
			}
			&-results {
				&__option {
					position: relative;
					color: $colorBlack;
					font-size: 16px;
					line-height: 1.5;
					padding: 8px 12px;
					&[aria-selected=true] {
						background: transparent;
						padding-right: 40px;
						&:before {
							content: '\EA14';
							position: absolute;
							right: 20px;
							top: 12px;
							color: #B9B1CB;
							font-size: 12px;
							font-family: 'svgfont', sans-serif;
						}
					}
					&--highlighted {
						&[aria-selected] {
							background: $colorBgBlue;
							color: $colorBlack;
						}
					}
				}
			}
		}
	}
	&--open {
		.select2-selection {
			&--single {
				.select2-selection {
					&__rendered {
					}
					&__arrow {
						right: 10px;
						height: 58px;
						width: 30px;
						&:before {
							font-size: 16px;
							transform: translate(-50%, -50%) rotate(180deg);
							content: '\EA03';
							color: #B9B1CB;
						}
					}
				}
			}
		}
		& ~ label {
			top: -8px;
			left: 7px;
			font-size: 11px;
			line-height: 1.636;
			padding: 0 5px;
			&:before {
				top: 1px;
				opacity: 1;
				transition: opacity 0.1s ease 0.28s;
			}
			sup {
				font-size: 14px;
			}
		}
	}
}
}
.help-block {
position: relative;
display: none;
color: $colorRed;
font-size: 11px;
line-height: 1.636;
padding: 5px 20px;
}
.select2-selection__placeholder, input::placeholder, textarea::placeholder{
	color: #B9B1CB !important;
}
